# Introduction Python #1

In [5]:
print("Hello World!")

Hello World!

In [6]:
print(5)
print(1+1)

5
2

In [8]:
five = 5
one = 1
twodot = 2.0
mystring = "hello World!"
myname = "Jose Pablo"

In [10]:
five

5

In [12]:
print (five)

5

In [13]:
print (myname)

Jose Pablo

In [14]:
print (type(five))

<class 'int'>

In [15]:
print (type(mystring))

<class 'str'>

In [16]:
print (type(twodot))

<class 'float'>

In [17]:
two = 2
print (two)

2

In [18]:
print (two/five)

0.4

In [19]:
c = 0

In [20]:
c = five/two

In [21]:
c

2.5

In [22]:
int(c) # Casting int

2

In [23]:
int(mystring)

ValueError: invalid literal for int() with base 10: 'hello World!'

In [25]:
print (5//2)

2

In [29]:
print(5**2+3)

28

In [28]:
print("Hello" * 5)

HelloHelloHelloHelloHello

In [32]:
num1 = 5.0/2.0
num2 = 5/2
print(type(num1))
print(type(num2))

<class 'float'>
<class 'float'>

In [33]:
num = input("Please enter a number:")

Please enter a number:42

In [34]:
type(num)

str

In [35]:
print (num + 3) # Because is a number ?

TypeError: must be str, not int

In [37]:
5==1

False

In [38]:
five>1

True

In [39]:
five >one and five < twodot

False

In [42]:
if (five>one):
    print("five is greater than one")
else:
    print("five is not greater than one")

five is not greater than one

In [41]:
five = 0

In [3]:
simple_input = int(input("Please enter a number:"))
if(simple_input % 2 == 0):
    print("The number %s is a even number!"%(simple_input))
else:
    print("The number %s is a odd number!"%(simple_input))

Please enter a number:4
The number 4 is a even number!

### Loops

In [4]:
for x in range(0,3):
    print("Let's go %d"% x)

Let's go 0
Let's go 1
Let's go 2

In [12]:
x = 0
y = 0
for x in range(0,5):
    if(y==9):
        print("hurray!")
    for y in range(0,10):
        print("Let's go ",x,y)
        if(y == 5):
            print("Hurray!!!")

Let's go  0 0
Let's go  0 1
Let's go  0 2
Let's go  0 3
Let's go  0 4
Let's go  0 5
Hurray!!!
Let's go  0 6
Let's go  0 7
Let's go  0 8
Let's go  0 9
hurray!
Let's go  1 0
Let's go  1 1
Let's go  1 2
Let's go  1 3
Let's go  1 4
Let's go  1 5
Hurray!!!
Let's go  1 6
Let's go  1 7
Let's go  1 8
Let's go  1 9
hurray!
Let's go  2 0
Let's go  2 1
Let's go  2 2
Let's go  2 3
Let's go  2 4
Let's go  2 5
Hurray!!!
Let's go  2 6
Let's go  2 7
Let's go  2 8
Let's go  2 9
hurray!
Let's go  3 0
Let's go  3 1
Let's go  3 2
Let's go  3 3
Let's go  3 4
Let's go  3 5
Hurray!!!
Let's go  3 6
Let's go  3 7
Let's go  3 8
Let's go  3 9
hurray!
Let's go  4 0
Let's go  4 1
Let's go  4 2
Let's go  4 3
Let's go  4 4
Let's go  4 5
Hurray!!!
Let's go  4 6
Let's go  4 7
Let's go  4 8
Let's go  4 9

In [9]:
# Is Prime
for i in range(3,1001):
    for j in range(2, i+1):
        if(i%j == 0 and i != j):
            break
        else:
            print("The number %s is prime"%i)
            break

The number 3 is prime
The number 5 is prime
The number 7 is prime
The number 9 is prime
The number 11 is prime
The number 13 is prime
The number 15 is prime
The number 17 is prime
The number 19 is prime
The number 21 is prime
The number 23 is prime
The number 25 is prime
The number 27 is prime
The number 29 is prime
The number 31 is prime
The number 33 is prime
The number 35 is prime
The number 37 is prime
The number 39 is prime
The number 41 is prime
The number 43 is prime
The number 45 is prime
The number 47 is prime
The number 49 is prime
The number 51 is prime
The number 53 is prime
The number 55 is prime
The number 57 is prime
The number 59 is prime
The number 61 is prime
The number 63 is prime
The number 65 is prime
The number 67 is prime
The number 69 is prime
The number 71 is prime
The number 73 is prime
The number 75 is prime
The number 77 is prime
The number 79 is prime
The number 81 is prime
The number 83 is prime
The number 85 is prime
The number 87 is prime
The number 89 is prime
The number 91 is prime
The number 93 is prime
The number 95 is prime
The number 97 is prime
The number 99 is prime
The number 101 is prime
The number 103 is prime
The number 105 is prime
The number 107 is prime
The number 109 is prime
The number 111 is prime
The number 113 is prime
The number 115 is prime
The number 117 is prime
The number 119 is prime
The number 121 is prime
The number 123 is prime
The number 125 is prime
The number 127 is prime
The number 129 is prime
The number 131 is prime
The number 133 is prime
The number 135 is prime
The number 137 is prime
The number 139 is prime
The number 141 is prime
The number 143 is prime
The number 145 is prime
The number 147 is prime
The number 149 is prime
The number 151 is prime
The number 153 is prime
The number 155 is prime
The number 157 is prime
The number 159 is prime
The number 161 is prime
The number 163 is prime
The number 165 is prime
The number 167 is prime
The number 169 is prime
The number 171 is prime
The number 173 is prime
The number 175 is prime
The number 177 is prime
The number 179 is prime
The number 181 is prime
The number 183 is prime
The number 185 is prime
The number 187 is prime
The number 189 is prime
The number 191 is prime
The number 193 is prime
The number 195 is prime
The number 197 is prime
The number 199 is prime
The number 201 is prime
The number 203 is prime
The number 205 is prime
The number 207 is prime
The number 209 is prime
The number 211 is prime
The number 213 is prime
The number 215 is prime
The number 217 is prime
The number 219 is prime
The number 221 is prime
The number 223 is prime
The number 225 is prime
The number 227 is prime
The number 229 is prime
The number 231 is prime
The number 233 is prime
The number 235 is prime
The number 237 is prime
The number 239 is prime
The number 241 is prime
The number 243 is prime
The number 245 is prime
The number 247 is prime
The number 249 is prime
The number 251 is prime
The number 253 is prime
The number 255 is prime
The number 257 is prime
The number 259 is prime
The number 261 is prime
The number 263 is prime
The number 265 is prime
The number 267 is prime
The number 269 is prime
The number 271 is prime
The number 273 is prime
The number 275 is prime
The number 277 is prime
The number 279 is prime
The number 281 is prime
The number 283 is prime
The number 285 is prime
The number 287 is prime
The number 289 is prime
The number 291 is prime
The number 293 is prime
The number 295 is prime
The number 297 is prime
The number 299 is prime
The number 301 is prime
The number 303 is prime
The number 305 is prime
The number 307 is prime
The number 309 is prime
The number 311 is prime
The number 313 is prime
The number 315 is prime
The number 317 is prime
The number 319 is prime
The number 321 is prime
The number 323 is prime
The number 325 is prime
The number 327 is prime
The number 329 is prime
The number 331 is prime
The number 333 is prime
The number 335 is prime
The number 337 is prime
The number 339 is prime
The number 341 is prime
The number 343 is prime
The number 345 is prime
The number 347 is prime
The number 349 is prime
The number 351 is prime
The number 353 is prime
The number 355 is prime
The number 357 is prime
The number 359 is prime
The number 361 is prime
The number 363 is prime
The number 365 is prime
The number 367 is prime
The number 369 is prime
The number 371 is prime
The number 373 is prime
The number 375 is prime
The number 377 is prime
The number 379 is prime
The number 381 is prime
The number 383 is prime
The number 385 is prime
The number 387 is prime
The number 389 is prime
The number 391 is prime
The number 393 is prime
The number 395 is prime
The number 397 is prime
The number 399 is prime
The number 401 is prime
The number 403 is prime
The number 405 is prime
The number 407 is prime
The number 409 is prime
The number 411 is prime
The number 413 is prime
The number 415 is prime
The number 417 is prime
The number 419 is prime
The number 421 is prime
The number 423 is prime
The number 425 is prime
The number 427 is prime
The number 429 is prime
The number 431 is prime
The number 433 is prime
The number 435 is prime
The number 437 is prime
The number 439 is prime
The number 441 is prime
The number 443 is prime
The number 445 is prime
The number 447 is prime
The number 449 is prime
The number 451 is prime
The number 453 is prime
The number 455 is prime
The number 457 is prime
The number 459 is prime
The number 461 is prime
The number 463 is prime
The number 465 is prime
The number 467 is prime
The number 469 is prime
The number 471 is prime
The number 473 is prime
The number 475 is prime
The number 477 is prime
The number 479 is prime
The number 481 is prime
The number 483 is prime
The number 485 is prime
The number 487 is prime
The number 489 is prime
The number 491 is prime
The number 493 is prime
The number 495 is prime
The number 497 is prime
The number 499 is prime
The number 501 is prime
The number 503 is prime
The number 505 is prime
The number 507 is prime
The number 509 is prime
The number 511 is prime
The number 513 is prime
The number 515 is prime
The number 517 is prime
The number 519 is prime
The number 521 is prime
The number 523 is prime
The number 525 is prime
The number 527 is prime
The number 529 is prime
The number 531 is prime
The number 533 is prime
The number 535 is prime
The number 537 is prime
The number 539 is prime
The number 541 is prime
The number 543 is prime
The number 545 is prime
The number 547 is prime
The number 549 is prime
The number 551 is prime
The number 553 is prime
The number 555 is prime
The number 557 is prime
The number 559 is prime
The number 561 is prime
The number 563 is prime
The number 565 is prime
The number 567 is prime
The number 569 is prime
The number 571 is prime
The number 573 is prime
The number 575 is prime
The number 577 is prime
The number 579 is prime
The number 581 is prime
The number 583 is prime
The number 585 is prime
The number 587 is prime
The number 589 is prime
The number 591 is prime
The number 593 is prime
The number 595 is prime
The number 597 is prime
The number 599 is prime
The number 601 is prime
The number 603 is prime
The number 605 is prime
The number 607 is prime
The number 609 is prime
The number 611 is prime
The number 613 is prime
The number 615 is prime
The number 617 is prime
The number 619 is prime
The number 621 is prime
The number 623 is prime
The number 625 is prime
The number 627 is prime
The number 629 is prime
The number 631 is prime
The number 633 is prime
The number 635 is prime
The number 637 is prime
The number 639 is prime
The number 641 is prime
The number 643 is prime
The number 645 is prime
The number 647 is prime
The number 649 is prime
The number 651 is prime
The number 653 is prime
The number 655 is prime
The number 657 is prime
The number 659 is prime
The number 661 is prime
The number 663 is prime
The number 665 is prime
The number 667 is prime
The number 669 is prime
The number 671 is prime
The number 673 is prime
The number 675 is prime
The number 677 is prime
The number 679 is prime
The number 681 is prime
The number 683 is prime
The number 685 is prime
The number 687 is prime
The number 689 is prime
The number 691 is prime
The number 693 is prime
The number 695 is prime
The number 697 is prime
The number 699 is prime
The number 701 is prime
The number 703 is prime
The number 705 is prime
The number 707 is prime
The number 709 is prime
The number 711 is prime
The number 713 is prime
The number 715 is prime
The number 717 is prime
The number 719 is prime
The number 721 is prime
The number 723 is prime
The number 725 is prime
The number 727 is prime
The number 729 is prime
The number 731 is prime
The number 733 is prime
The number 735 is prime
The number 737 is prime
The number 739 is prime
The number 741 is prime
The number 743 is prime
The number 745 is prime
The number 747 is prime
The number 749 is prime
The number 751 is prime
The number 753 is prime
The number 755 is prime
The number 757 is prime
The number 759 is prime
The number 761 is prime
The number 763 is prime
The number 765 is prime
The number 767 is prime
The number 769 is prime
The number 771 is prime
The number 773 is prime
The number 775 is prime
The number 777 is prime
The number 779 is prime
The number 781 is prime
The number 783 is prime
The number 785 is prime
The number 787 is prime
The number 789 is prime
The number 791 is prime
The number 793 is prime
The number 795 is prime
The number 797 is prime
The number 799 is prime
The number 801 is prime
The number 803 is prime
The number 805 is prime
The number 807 is prime
The number 809 is prime
The number 811 is prime
The number 813 is prime
The number 815 is prime
The number 817 is prime
The number 819 is prime
The number 821 is prime
The number 823 is prime
The number 825 is prime
The number 827 is prime
The number 829 is prime
The number 831 is prime
The number 833 is prime
The number 835 is prime
The number 837 is prime
The number 839 is prime
The number 841 is prime
The number 843 is prime
The number 845 is prime
The number 847 is prime
The number 849 is prime
The number 851 is prime
The number 853 is prime
The number 855 is prime
The number 857 is prime
The number 859 is prime
The number 861 is prime
The number 863 is prime
The number 865 is prime
The number 867 is prime
The number 869 is prime
The number 871 is prime
The number 873 is prime
The number 875 is prime
The number 877 is prime
The number 879 is prime
The number 881 is prime
The number 883 is prime
The number 885 is prime
The number 887 is prime
The number 889 is prime
The number 891 is prime
The number 893 is prime
The number 895 is prime
The number 897 is prime
The number 899 is prime
The number 901 is prime
The number 903 is prime
The number 905 is prime
The number 907 is prime
The number 909 is prime
The number 911 is prime
The number 913 is prime
The number 915 is prime
The number 917 is prime
The number 919 is prime
The number 921 is prime
The number 923 is prime
The number 925 is prime
The number 927 is prime
The number 929 is prime
The number 931 is prime
The number 933 is prime
The number 935 is prime
The number 937 is prime
The number 939 is prime
The number 941 is prime
The number 943 is prime
The number 945 is prime
The number 947 is prime
The number 949 is prime
The number 951 is prime
The number 953 is prime
The number 955 is prime
The number 957 is prime
The number 959 is prime
The number 961 is prime
The number 963 is prime
The number 965 is prime
The number 967 is prime
The number 969 is prime
The number 971 is prime
The number 973 is prime
The number 975 is prime
The number 977 is prime
The number 979 is prime
The number 981 is prime
The number 983 is prime
The number 985 is prime
The number 987 is prime
The number 989 is prime
The number 991 is prime
The number 993 is prime
The number 995 is prime
The number 997 is prime
The number 999 is prime

In [22]:
check = 3
prime = 3
prime_list = []
while (prime < 1000 and prime != 997):
    isnotprime = True
    for j in range(2, check):
        if(check%j == 0):
            isnotprime = False
            break
    if(isnotprime):
        print(check)
        prime_list.append(check)
        prime = check
    check = check +1

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

##  Lists

In [5]:
mylist = ["String1","String3","String3"]

In [6]:
mylist1 = [1,2,3,4,5]
mylist2 = [1.1,2.2,3.3,4.4,5.5]

In [7]:
print(mylist)

['String1', 'String3', 'String3']

In [9]:
for i in range(0,len(mylist)):
    print(mylist[i])

String1
String3
String3

In [11]:
mylist1[0:3]

[1, 2, 3]

In [12]:
1 in mylist1

True

In [13]:
for x in mylist1:
    print(x)

1
2
3
4
5

In [15]:
mylist3 = ["Charlie","red",42, 1.8]

In [17]:
mylist3

['Charlie', 'red', 42, 1.8]

In [20]:
for x in mylist3:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [21]:
# del list[2]  is to delete element in 2 position

In [32]:
y_list = []
y1_list = []
for x in range(0,101):
    y_list.append(x*x)
    y1_list.append(x*x*x)
print(y_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

## Functions

In [34]:
def x2(x):
    return x**2
x2(2)

4

In [24]:
prime_list

[3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

In [25]:
#def nextprime(start):
    #find the next prime number after *start*
def generateprimes(number_of_primes):
    #generate *count* number of primes
    check = 2
    count = 0
    while(count < number_of_primes):
        check +=1
        isnotprime = True
        for i in range(2, check):
            if(check%i == 0):
                isnotprime = False
                break
        if(isnotprime):
            print(check)
            count = count +1

In [27]:
generateprimes(100)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547

In [25]:
def next_prime(start):
    #return the next prime number after *start*
    isnotprime = 1
    check = start+1
    while(isnotprime == 1):
        check = check+1
        isnotprime = 0
        for i in range(2,check):
            if(check%i == 0):
                isnotprime = 1
                break
       
    if(isnotprime == 0):
        print(check)
    return check

In [15]:
y = next_prime(17)
print(y)

19
19

In [33]:
y = next_prime(2)
count = 0
prime_gap = 0
while(prime_gap < 20):
    y_old = y
    y = next_prime(y)
    prime_gap = y-y_old
    print(str(y)+ " - "+ str(y_old) + " = " +str(prime_gap))
    count = count +1

5
7
7 - 5 = 2
11
11 - 7 = 4
13
13 - 11 = 2
17
17 - 13 = 4
19
19 - 17 = 2
23
23 - 19 = 4
29
29 - 23 = 6
31
31 - 29 = 2
37
37 - 31 = 6
41
41 - 37 = 4
43
43 - 41 = 2
47
47 - 43 = 4
53
53 - 47 = 6
59
59 - 53 = 6
61
61 - 59 = 2
67
67 - 61 = 6
71
71 - 67 = 4
73
73 - 71 = 2
79
79 - 73 = 6
83
83 - 79 = 4
89
89 - 83 = 6
97
97 - 89 = 8
101
101 - 97 = 4
103
103 - 101 = 2
107
107 - 103 = 4
109
109 - 107 = 2
113
113 - 109 = 4
127
127 - 113 = 14
131
131 - 127 = 4
137
137 - 131 = 6
139
139 - 137 = 2
149
149 - 139 = 10
151
151 - 149 = 2
157
157 - 151 = 6
163
163 - 157 = 6
167
167 - 163 = 4
173
173 - 167 = 6
179
179 - 173 = 6
181
181 - 179 = 2
191
191 - 181 = 10
193
193 - 191 = 2
197
197 - 193 = 4
199
199 - 197 = 2
211
211 - 199 = 12
223
223 - 211 = 12
227
227 - 223 = 4
229
229 - 227 = 2
233
233 - 229 = 4
239
239 - 233 = 6
241
241 - 239 = 2
251
251 - 241 = 10
257
257 - 251 = 6
263
263 - 257 = 6
269
269 - 263 = 6
271
271 - 269 = 2
277
277 - 271 = 6
281
281 - 277 = 4
283
283 - 281 = 2
293
293 - 283 = 10
307
307 - 293 = 14
311
311 - 307 = 4
313
313 - 311 = 2
317
317 - 313 = 4
331
331 - 317 = 14
337
337 - 331 = 6
347
347 - 337 = 10
349
349 - 347 = 2
353
353 - 349 = 4
359
359 - 353 = 6
367
367 - 359 = 8
373
373 - 367 = 6
379
379 - 373 = 6
383
383 - 379 = 4
389
389 - 383 = 6
397
397 - 389 = 8
401
401 - 397 = 4
409
409 - 401 = 8
419
419 - 409 = 10
421
421 - 419 = 2
431
431 - 421 = 10
433
433 - 431 = 2
439
439 - 433 = 6
443
443 - 439 = 4
449
449 - 443 = 6
457
457 - 449 = 8
461
461 - 457 = 4
463
463 - 461 = 2
467
467 - 463 = 4
479
479 - 467 = 12
487
487 - 479 = 8
491
491 - 487 = 4
499
499 - 491 = 8
503
503 - 499 = 4
509
509 - 503 = 6
521
521 - 509 = 12
523
523 - 521 = 2
541
541 - 523 = 18
547
547 - 541 = 6
557
557 - 547 = 10
563
563 - 557 = 6
569
569 - 563 = 6
571
571 - 569 = 2
577
577 - 571 = 6
587
587 - 577 = 10
593
593 - 587 = 6
599
599 - 593 = 6
601
601 - 599 = 2
607
607 - 601 = 6
613
613 - 607 = 6
617
617 - 613 = 4
619
619 - 617 = 2
631
631 - 619 = 12
641
641 - 631 = 10
643
643 - 641 = 2
647
647 - 643 = 4
653
653 - 647 = 6
659
659 - 653 = 6
661
661 - 659 = 2
673
673 - 661 = 12
677
677 - 673 = 4
683
683 - 677 = 6
691
691 - 683 = 8
701
701 - 691 = 10
709
709 - 701 = 8
719
719 - 709 = 10
727
727 - 719 = 8
733
733 - 727 = 6
739
739 - 733 = 6
743
743 - 739 = 4
751
751 - 743 = 8
757
757 - 751 = 6
761
761 - 757 = 4
769
769 - 761 = 8
773
773 - 769 = 4
787
787 - 773 = 14
797
797 - 787 = 10
809
809 - 797 = 12
811
811 - 809 = 2
821
821 - 811 = 10
823
823 - 821 = 2
827
827 - 823 = 4
829
829 - 827 = 2
839
839 - 829 = 10
853
853 - 839 = 14
857
857 - 853 = 4
859
859 - 857 = 2
863
863 - 859 = 4
877
877 - 863 = 14
881
881 - 877 = 4
883
883 - 881 = 2
887
887 - 883 = 4
907
907 - 887 = 20

## Anonymous Functions

In [35]:
x = lambda a: a*10

In [37]:
print(x)

<function <lambda> at 0x7fd6a8938d08>

In [41]:
print(x(100))

1000

In [44]:
def myfunc(x):
    return lambda a: a*x
y = myfunc(10)
print(y(5))

50

### Monte Carlo Algorithm

In [48]:
import random
def monte_carlo_near_pi(numSamples):
    counter = 0
    for aux in range(0,numSamples):
        x = random.uniform(-1,1)
        y = random.uniform(-1,1)
        if(x*x + y*y < 1):
            counter +=1
    return 4.0 * counter / numSamples
print(str(monte_carlo_near_pi(10000000)))

3.1418004